.modal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modalBackground {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
