@import "/src/assets/modal.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  --transition-speed: 600ms;
  --navWidth: 5rem;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-primary: #f0eeee;
  --text-secondary: #002b2f;
  --visual-primary: #4fffedc3;
  --visual-secondary: #1a4c47;
  --margin: 1rem;
  --button-border: 0.1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0.25rem;
}
*::-webkit-scrollbar-track {
  background-color: #1e1e24;
}
*::-webkit-scrollbar-thumb {
  background-color: #bdc4c4;
}
