@import "/src/assets/modal.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");

:root {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  --transition-speed: 600ms;
  --navWidth: 4rem;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-primary: #f0eeee;
  --text-secondary: #002b2f;
  --visual-primary: #4fffedc3;
  --visual-secondary: #1a4c47;
  --margin: 1rem;
  --button-border: 0.1rem;
  --media-screen-size: 768px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}
*::-webkit-scrollbar-track {
  background-color: #1e1e24;
}
*::-webkit-scrollbar-thumb {
  background-color: #bdc4c4;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 720px;
}

.github {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 2;
  :hover {
    position: absolute;
    left: 10px;
    bottom: 5px;
    font-size: 3rem;
    color: #fff;
    scale: 0.9;
  }
}
.github::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 0 100px;
  border-color: transparent transparent transparent #6e5494;
}
.github .fa {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 3rem;
  color: #fff;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
  .github {
    width: 70px;
    height: 70px;
  }
  .github::before {
    border-width: 70px 0 0 70px;
  }
  .github .fa {
    left: 8px;
    bottom: 4px;
    font-size: 2rem;
  }
}
